

    *{
        margin: 0;
        padding: 0;
    }

    body{
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    .container {
        width: 600px;
        margin: 20px auto;
        border: 1px solid #555;
        box-shadow: 5px 10px 15px #555;
    } 

    .item-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0984e3;
        color: #fff;
        padding: 10px;
        border-bottom: 1px solid #333;
    }

    .content-body {
        display: none;
    }

    .cdc-accordion-item.active .content-body{
        display: block;
        transition: .5s linear;
        padding: 10px;
      }

    .content-body li{
        list-style: none;
    }

      .icon {
          font-size: 20px;
          font-weight: 600;
      }


